@import './../../../assets/scss/variables.scss';

.menu-container {
  display: flex;
  width: 840px;
}

.select-container {
  display: flex;
  width: 420px;
  padding-left: 400px;

  select {
    background-color: $blue-tertiary-color;
    width: 130px;
    height: 20px;
    font-size: 11px;
    margin-bottom: 10px;
  }
}

.time-container {
  width: 420px;
  font-size: 12px;
}

.grid-container {
  width: 840px;
}

.buttons-container {
  display: flex;
  width: 420px;
}

.slider-container {
  display: flex;
  width: 420px;
  padding-left: 200px;
}

button {
  background-color: $blue-tertiary-color;
  width: 90px;
  height: 20px;
  border-radius: 6px;
}

.modal {
  padding: 30px;
  color: $primary-color;

  form {
    display: grid;

    label {
      width: 80px;
      font-size: 15.5px;
    }

    input {
      margin-left: 20px;
      width: 200px;
    }
  }

  h2 {
    margin-bottom: 30px;
  }

  .buttons-container {
    margin-top: 30px;

    button {
      margin-right: 5px;
    }
  }
}

.row {
  display: flex;
  margin: 1px;
  line-height: 1.4;
}

.content {
  display: flex;
}

.simulation-container {
  width: 65%;
}

.charts-container {
  width: 35%;

  .charts {
    width: 100%;
  }
}