<app-header></app-header>

<app-content>
  <div class="menu-container">
    <div class="time-container">
      Time: {{time | async | time}}
    </div>
    <div class="select-container">
      <button (click)="openModal('save-pattern')">Save</button>
      <form [formGroup]="selectForm">
        <select (change)="onChange($event, patterns)">
          <option *ngFor="let pattern of patterns; let i = index" [value]="i">{{pattern.name}}</option>
        </select>
      </form>
    </div>
  </div>

  <div class="grid-container">
    <app-grid [grid$]="grid"></app-grid>
  </div>

  <div class="buttons-container">
    <button [disabled]="running" (click)="start()">Start</button>
    <button [disabled]="!running" (click)="stop()">Stop</button>
    <button [disabled]="running" (click)="step()">Step</button>
    <button (click)="reset()">Reset</button>
  </div>
</app-content>

<app-modal [id]="'save-pattern'">
  <h2>Save pattern</h2>
  <form [formGroup]="saveForm">
    <label>
      Name:
      <input type="text" [formControlName]="'name'">
    </label>
  </form>
  <button (click)="savePattern(saveForm)">Save</button>
  <button (click)="closeModal('save-pattern')">Cancel</button>
</app-modal>