<app-header></app-header>

<app-content>
  <div class="content">
    <div class="simulation-container">
      <div class="menu-container">
        <div class="time-container">
          Time: {{time | async | time}}
        </div>
        <div class="select-container">
          <button (click)="openModal('save-pattern')">Save</button>
          <form [formGroup]="selectForm">
            <select (change)="onChange($event, patterns)">
              <option *ngFor="let pattern of patterns; let i = index" [value]="i">{{pattern.name}}</option>
            </select>
          </form>
        </div>
      </div>
    
      <div class="grid-container">
        <app-grid [grid$]="grid"></app-grid>
      </div>
    
      <div class="buttons-container">
        <button [disabled]="running" (click)="start()">Start</button>
        <button [disabled]="!running" (click)="stop()">Stop</button>
        <button [disabled]="running" (click)="step()">Step</button>
        <button (click)="reset()">Reset</button>
        <button (click)="clear()">Clear</button>
      </div>
    </div>

    <div class="charts-container">
      <div class="charts">
        <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
      </div>

      <div class="charts">
        <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [colors]="lineChartColors" 
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
        </canvas>
      </div>
    </div>
  </div>
</app-content>

<app-modal [id]="'save-pattern'">
  <div class="modal">
    <h2>Add new pattern</h2>

    <form [formGroup]="saveForm">
      <div class="row">
        <label>Name:</label>
        <input type="text" [formControlName]="'name'">
      </div>

      <div class="row">
        <label>Description:</label>
        <input type="text" [formControlName]="'description'">
      </div>
    </form>

    <div class="buttons-container">
      <button (click)="savePattern(saveForm); closeModal('save-pattern')" [disabled]="!saveForm.valid">Save</button>
      <button (click)="closeModal('save-pattern')">Cancel</button>
    </div>
  </div>
</app-modal>