@import './../../../../assets/scss/variables.scss';

.row {
  display: flex;
}

.active {
  width: 12px;
  height: 12px;
  border: 1px solid $blue-tertiary-color;
  background-color: $blue-tertiary-color;
}

.inactive {
  width: 12px;
  height: 12px;
  border: 1px solid $secondary-color;
  background-color: #ffffff;
}