$primary-color: #425664;
$secondary-color: #F6F4F2;
$tertiary-color: #C6AD8F;

// blue palette
$blue-primary-color: #182978;
$blue-secondary-color: #6688CC;
$blue-tertiary-color: #ACBFE6;

// pinl palette
$pink-primary-color: #FA255E;
$pink-secondary-color: #C39EA0;
$pink-tertiary-color: #F8E5E5;

$text-color: #425664